<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product App</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="nav-bar"></div>

    <div class="product">
      <div class="product-image">
        <img :src="product.image" alt="">
      </div>
      <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <a :href="product.link">Buy it now</a>
        <p v-show="product.onSale">On sale</p>

        <ul>
          <li v-for="detail in product.details">{{ detail }}</li>
        </ul>

        <div v-for="variant in product.variants" :key="variant.variantId">
          <p>{{ variant.variantColor }}</p>
        </div>

        <ul>
          <li v-for="size in product.sizes">
            <span>{{ size }}</span>
          </li>
        </ul>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </div>
</body>
</html>